/* navbar logo */

.small-logo {
  width: 80px;
}

/* carrousel */

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.575);
  background-blend-mode: soft-light;
}
.banner1 {
  background-image: url(../img/fondo-baner-2.jpg);
}
.banner2 {
  background-image: url(../img/Restaurante-Italiano-Il-Giro-In-Tandem-Madrid-Portada.jpg);
}
.banner3 {
  background-image: url(../img/fondo-banner-1.jpg);
}
/* estilos para cambiar tipografia de carrucel y tamaño */
.titulo-fuente {
  font-family: "Xanh Mono", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.titulo-tamaño {
  font-size: 4.5rem;
}
.subtitulo-tamaño {
  font-size: 1.5rem;
}
.carrousel__principal-styles {
  /* carrousel-caption*/
  padding-bottom: 50px;
}
.headding_caption-principal {
  /* heading de cada caption */
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.caption__boton-principal {
  /* boton ancla de cada caption */
  background-color: #edbb00;
  padding: 15px 35px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
}
/* clase de nav que permite sacarlo del color transparente */
.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.753) !important;
}
.nav-link:hover {
  color: #edbb00 !important;
}

/*  estulos del formulario de busqueda */

.formulario-buscar {
  height: 80px;
  padding: 10px;
  background-color: #edbb00;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buscar-texto::placeholder {
  color: white;
}
.buscar-texto {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 18px;
}
.boton_icon__search {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 8px;
}
/* estilos para botones  de entradas en pagina principal*/
.btn-hover:hover {
  background-color: #edbb00 !important;
  color: white !important;
  border: none !important;
}
/* estilos para footer */
.color-hover:hover {
  color: #edbb00 !important;
}
/* estilos para pagina de error */
.banner-404 {
  background-image: url(../img/fondo-404.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.705);
  background-blend-mode: soft-light;
}
.error-fonts {
  font-family: "Merienda One", sans-serif;
}
.error-content {
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
}
.caption-error {
  padding-bottom: 120px;
}
.link__error {
  color: #edbb00;
  text-decoration: none;
}

/* estilos para la pagina de contactos */
/* banner */

.banner__contact {
  background-image: url(../img/banner-contacto.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.705);
  background-blend-mode: soft-light;
}
.caption__contact {
  padding-bottom: 11rem;
  font-family: "Xanh Mono", sans-serif;
}
.heading__contact {
  font-size: 5rem;
}
/*  estilos para pagina de entrada-1 */
.banner__entrada-fondo {
  background-image: url(../img/fondo-entrada-1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.705);
  background-blend-mode: soft-light;
  color: white;
}

.row_ancho {
  height: 93%;
}
.color_entrada-1 {
  background-color: #eea86a;
}
/* estilos para entrada 2 */
.entrada-2 {
  background-image: url(../img/fondo-para-entradas.jpg);
  background-color: rgba(0, 0, 0, 0.438);
}
/* estilo para entrada 3 */
.entrada-3 {
  background-image: url(../img/alimentacion-saludable.jpg);
  background-color: rgba(0, 0, 0, 0.438);
}
.entrada-4 {
  background-image: url(../img/banner-entrada-4.jpg);
  background-color: rgba(0, 0, 0, 0.438);
  height: 90vh;
}
/* comentario para paginas  */
.comentarios {
  margin: 20px 0;
}

.form_comentarios textarea {
  width: 100%;
  height: 84px;
  max-width: 100%;
  min-width: 100%;
  min-height: 84px;
  max-height: 300px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  border: 1px solid #4b65d1;
  margin-bottom: 20px;
}

.form_comentarios .btn {
  background: #4b65d1;
  font-family: "Roboto", sans-serif;
  border-radius: 0;
  color: #fff;
  margin-bottom: 20px;
}

.form_comentarios .btn:hover {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.35);
}

.media {
  border-top: 1px solid #bfbfbf;
  padding-top: 20px;
}

.media img {
  margin-right: 20px;
}

.media .nombre {
  color: #4b65d1;
  margin-bottom: 0;
}

.media .nombre span {
  font-size: 12px;
  color: #464646;
  margin-left: 10px;
}

.media .comentario {
  margin-top: 10px;
}

.media .botones {
  margin-bottom: 10px;
}

.media .botones a {
  color: #acacac;
  font-size: 14px;
  margin-left: 20px;
}
/* ESTILOS PARA LOGIN */
.baner_fondo-login {
  background-image: url(../img/fondo-blog.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Xanh Mono", sans-serif;
}
.bg_form {
  background-color: #1e2126;
}
.border_mod {
  border: 1px solid white;
  border-radius: 10px;
}
.btn_modifc-login {
  border: 1px solid white;
  color: white;
}
.btn_modifc-login:hover {
  background-color: #edbb00;
  color: white;
  border-color: #edbb00;
}
.btn_login {
  border: 1px solid white;
  color: white;
}
.btn_facebook:hover {
  background-color: #307dec;
  border: none;
  color: white;
}
.btn_modifc-google:hover {
  background-color: #ef6506;
  border: none;
  color: white;
}
.form__font-2 {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  /* media para carrusel */
  .carousel-caption {
    padding-bottom: 310px;
  }
  /* ESTILOS PARA LOGIN */
  .baner_fondo-login {
    background-color: rgba(0, 0, 0, 0.705);
    background-blend-mode: soft-light;
  }
}

@media screen and (max-width: 576px) {
  /*  medias par navbar */
  .navbar-brand {
    padding: 20px 15px;
  }
  .navbar-collapse {
    background: black;
  }
  .nav-link {
    text-align: center;
  }
  /* media para carrousel */
  .carousel-caption {
    padding-bottom: 40px;
  }
  /* clases para modificar el titulo y subtitulo del baner */
  .titulo-tamaño {
    font-size: 2rem;
  }
  .subtitulo-tamaño {
    font-size: 1rem;
  }
  .error-fonts {
    font-size: 3rem;
  }
  .error-content {
    font-size: 1.5rem;
  }
  /* banner de contacto */
  .caption__contact {
    padding-bottom: 10rem;
  }
  .heading__contact {
    font-size: 3rem;
  }
  /* estilos para footer */

  .text-center-responsive {
    text-align: center;
  }
  .space-bottom__modifed {
    margin-bottom: 2rem;
  }
  .jus {
    justify-items: center;
  }
  /* estilos de pagina de entrada-1 */
  .row_ancho {
    height: 80%;
  }
  .responsive_headding {
    font-size: 2rem;
  }
  /* estilos para login */
  .baner_fondo-login {
    background-color: rgba(0, 0, 0, 0.705);
    background-blend-mode: soft-light;
  }
  .border_mod {
    border: none !important;
  }
}
