/* carrousel */

.carousel-item {
  height: 100vh;
}

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.575);
  background-blend-mode: soft-light;
}
.banner1 {
  background-image: url(../img/fondo-baner-2.jpg);
}
.banner2 {
  background-image: url(../img/Restaurante-Italiano-Il-Giro-In-Tandem-Madrid-Portada.jpg);
}
.banner3 {
  background-image: url(../img/fondo-banner-1.jpg);
}
.carousel-caption {
  padding-bottom: 50px;
}
.carousel-caption h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption a {
  background-color: #edbb00;
  padding: 15px 35px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
}
/* clase de nav que permite sacarlo del color transparente */
.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.753) !important;
}
.nav-link:hover {
  color: #edbb00 !important;
}

/*  estulos del formulario de busqueda */
.form-buscar {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  height: 60px;
  border-radius: 15px 0 0 15px;
  outline: none;
  border: 3px solid black;
  border-right: none;
}

.boton-buscar {
  width: 100%;
  background-color: #fff;
  border: 3px solid black;
  border-left: none;
  height: 60px;
  border-radius: 0 15px 15px 0;
}

.formulario-buscar2 {
  height: 80px;
  padding: 10px;
  background-color: #edbb00;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buscar-texto::placeholder {
  color: white;
}
.buscar-texto {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 18px;
}
.boton2 {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 8px;
}
/* estilos para botones */
.btn-hover:hover {
  background-color: #edbb00 !important;
  color: white !important;
  border: none !important;
}
/* estilos para las animaciones */
.wow {
  visibility: hidden;
}
/* estilos para cambiar tipografia de carrucel y tamaño */
.titulo-fuente {
  font-family: "Xanh Mono", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.titulo-tamaño {
  font-size: 4.5rem;
}
.subtitulo-tamaño {
  font-size: 1.5rem;
}

.banner-404 {
  background-image: url(../img/fondo-404.jpg);
}
.error-fonts {
  font-family: "Merienda One", sans-serif;
}
.error-content {
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
}
/* experimentales */
.caption-error h5 {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  /* media para carrusel */
  .carousel-caption {
    padding-bottom: 310px;
  }
}

@media screen and (max-width: 576px) {
  /*  medias par navbar */
  .navbar-brand {
    padding: 20px 15px;
  }
  .navbar-collapse {
    background: black;
  }
  .nav-link {
    text-align: center;
  }
  /* media para carrousel */
  .carousel-caption {
    padding-bottom: 40px;
  }
  /* clases para modificar el titulo y subtitulo del baner */
  .titulo-tamaño {
    font-size: 2rem;
  }
  .subtitulo-tamaño {
    font-size: 1rem;
  }
  .error-fonts {
    font-size: 3rem;
  }
  .error-content {
    font-size: 1.5rem;
  }
}
